<h1>Current Preferences</h1>

<label for="artist_allow">Artist Cration Allowed: </label>
<h2 id='artist_allow'><%= @preferences.allow_create_artists %></h2>

<label for="song_allow">Song Cration Allowed: </label>
<h2 id='song_allow'><%= @preferences.allow_create_songs %></h2>
